In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import datetime as datetime
print("s")

s

In [6]:

import numpy as np
import pandas as pd
import pandas_datareader.data as web
import datetime as datetime

dt_now = datetime.datetime.now()
ly = dt_now.year
lm = dt_now.month
ld = dt_now.day

#codejp = input(int())
#codejp = "1306"
#stockcode = codejp+".JP"
import defmakedf


codes = ["3064", "2124", "2379", ]
retrdf2 = pd.DataFrame()
madedf2 = pd.DataFrame()

for c in codes:
    madedf = defmakedf.mdfmake(c, 2009, 3)
    returndf = defmakedf.mdfreturn(c, 2009, 3)
    madedf2 = pd.concat([madedf2, madedf], axis=1)
    retrdf = defmakedf.rdf(returndf)
    retrdf2 = pd.concat([retrdf2, retrdf], axis=0)
    #returndf2 = pd.concat([returndf2, returndf], axis=1)
    #

plus5list = defmakedf.plusper(madedf2, retrdf2, 5)

make3064df end
return 3064 df end
make2124df end
return 2124 df end
make2379df end
return 2379 df end

In [7]:
retrdf2

             mname  mnum       nxrt
0    3064JP2009-03     0  -5.419195
1    3064JP2009-04     1  12.778831
2    3064JP2009-05     2  16.023528
3    3064JP2009-06     3  11.108635
4    3064JP2009-07     4  30.610710
..             ...   ...        ...
154  2379JP2022-01   154  -4.609956
155  2379JP2022-02   155  -0.884956
156  2379JP2022-03   156  26.785714
157  2379JP2022-04   157 -11.619718
158  2379JP2022-05   158  -0.132802

[477 rows x 3 columns]

In [8]:
madedf2

,3064JP2009-03,3064JP2009-04,3064JP2009-05,3064JP2009-06,3064JP2009-07,3064JP2009-08,3064JP2009-09,3064JP2009-10,3064JP2009-11,3064JP2009-12,...,2379JP2021-08,2379JP2021-09,2379JP2021-10,2379JP2021-11,2379JP2021-12,2379JP2022-01,2379JP2022-02,2379JP2022-03,2379JP2022-04,2379JP2022-05
0,11.482,14.202,13.748,15.471,18.130,20.608,25.927,22.723,20.398,17.284,...,3142.03,3543.91,4059.39,4089.13,3910.70,3970.17,3335.74,3440.0,3405.0,4310.0
1,12.449,14.051,13.962,15.833,18.009,20.216,25.593,21.938,21.454,17.676,...,3137.11,3598.43,4104.00,4074.26,3831.39,3737.22,3534.00,3340.0,3390.0,4255.0
2,12.087,14.324,13.962,15.532,17.526,19.641,25.621,21.273,21.998,17.676,...,3132.19,3717.39,4084.17,4128.78,4004.87,3613.30,3350.61,3345.0,3385.0,4180.0
3,12.449,14.202,14.353,15.411,17.828,22.210,25.235,21.153,21.636,16.952,...,3161.70,3806.61,4014.78,4108.96,3925.57,3677.74,3444.78,3105.0,3320.0,3940.0
4,12.631,14.020,16.015,15.381,17.406,21.697,24.926,21.998,20.910,17.043,...,3250.21,3885.91,4079.22,4128.78,4099.04,3662.87,3306.00,2967.0,3195.0,3860.0
5,12.299,14.353,15.471,15.230,16.469,23.117,25.476,21.546,20.790,16.742,...,3304.29,3900.78,4237.83,4198.17,4138.70,3702.52,3365.48,3055.0,3275.0,3725.0
6,11.967,14.444,15.833,15.351,16.681,26.952,25.536,22.603,20.790,16.559,...,3348.55,3890.87,4237.83,4188.26,4153.57,3548.87,3504.26,2993.0,3300.0,3790.0
7,12.087,14.353,16.317,15.683,15.893,26.410,25.621,22.361,20.699,16.136,...,3333.80,4064.35,4163.48,4381.57,4034.61,3444.78,3662.87,3180.0,3355.0,3835.0
8,12.329,14.110,15.833,15.411,14.807,26.590,24.926,22.783,19.944,16.742,...,3319.05,4039.57,4133.74,4411.30,4079.22,3211.83,3519.13,3135.0,3490.0,3765.0
9,12.117,14.142,15.593,15.561,15.863,26.410,24.145,21.998,18.432,16.257,...,3196.11,4247.74,4242.78,4579.83,3920.61,3325.83,3360.52,3175.0,3560.0,3975.0
10,12.267,13.991,15.593,16.377,15.713,25.743,22.875,21.303,18.432,16.469,...,3063.36,4242.78,4168.43,4629.39,3955.30,3276.26,3434.87,3140.0,3915.0,3830.0
11,12.419,14.202,15.653,16.317,16.710,25.204,22.512,22.300,18.585,16.439,...,3132.19,4153.57,3950.35,4778.09,3999.91,3350.61,3454.70,3150.0,4050.0,4035.0
12,12.329,14.081,15.775,16.257,17.767,25.621,22.300,22.665,18.585,16.771,...,3132.19,4143.65,4123.83,4753.30,3836.35,3529.04,3529.04,3260.0,4190.0,4155.0
13,13.991,14.353,15.471,15.593,18.130,24.716,21.303,22.481,18.734,16.077,...,3033.86,4049.48,4178.35,4624.43,3672.78,3568.70,3429.91,3260.0,4055.0,3975.0
14,14.264,13.962,NaN,16.469,18.130,25.235,21.998,22.481,17.164,16.257,...,3146.95,4089.13,4084.17,4550.09,3796.70,3439.83,3380.35,3150.0,4040.0,3755.0
15,13.902,13.902,NaN,19.279,18.703,24.716,23.993,22.814,16.226,16.377,...,3304.29,4198.17,4069.30,4322.09,3895.83,3474.52,3306.00,3260.0,3915.0,3795.0
16,13.902,13.870,NaN,18.887,18.855,24.838,23.389,23.811,15.713,16.921,...,3319.05,4361.74,4034.61,4227.91,3985.04,3375.39,3415.00,3270.0,4055.0,3750.0
17,13.748,13.598,NaN,17.588,19.340,25.836,23.631,23.721,14.988,16.862,...,3304.29,4158.52,4148.61,4069.30,3905.74,3479.48,3390.00,3290.0,4100.0,3795.0
18,14.233,13.478,NaN,17.224,20.155,26.410,23.207,23.237,16.499,16.317,...,3338.71,4019.74,4044.52,3955.30,3816.52,3553.83,NaN,3290.0,4200.0,3765.0
19,14.474,13.539,NaN,17.828,19.340,26.202,NaN,22.210,NaN,15.893,...,3444.78,4222.96,4014.78,3945.39,3895.83,NaN,NaN,3325.0,4260.0,NaN
20,14.504,13.718,NaN,18.009,19.340,26.049,NaN,21.273,NaN,16.046,...,3469.57,NaN,4054.43,NaN,3895.83,NaN,NaN,3390.0,NaN,NaN
21,NaN,NaN,NaN,17.950,19.944,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3880.96,NaN,NaN,3360.0,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:

# dtw  madedf and plus5list

import pandas as pd
import numpy as np

from scipy.spatial.distance import euclidean
from fastdtw import fastdtw

listp = list(plus5list.columns)
listm = list(madedf2.columns)


dtwcalc = []
for m in listm:
    for p  in listp:
        datap = madedf2[m]
        #datap = datap/monStock[monStock.columns[p]][0]
        datap = datap.dropna()
        t = plus5list[p]
        #t = t/monStock[monStock.columns[i]][0]
        t = t.dropna()

        dtw_distance, warp_path = fastdtw(datap, t, dist=euclidean)
        dtw = dtw_distance

        dtwcalc.append(dtw)

  # dfstart[p:p+1] = idtwcalc
idtwcalc = np.array(dtwcalc)
idtwcalcres0  = idtwcalc.reshape(len(listm),len(listp))


#exec("dfto"+ str(starti+121) +" = pd.DataFrame(data = idtwcalcres0,index = [monStock.columns[starti:starti+121]], columns = [listm[0:startp]])")
dftomade = pd.DataFrame(data = idtwcalcres0,index = listm, columns = listp)




print('end')

end

In [10]:
dftomade.shape

NameError: name 'dftomade' is not defined

In [59]:
retrdf.shape

(481, 4)

In [3]:
precodes = ["1491", "1689", "1757"]
predfs = pd.DataFrame()

for pc in precodes:
    predfmake = defmakedf.presentstock(pc)
    predfs = pd.concat([predfs, predfmake], axis=1)

return 1491 df end
return 1689 df end
return 1757 df end

In [7]:
# dtw  predfs and plus5list

import pandas as pd
import numpy as np

from scipy.spatial.distance import euclidean
from fastdtw import fastdtw
from tqdm import tqdm

listp = list(plus5list.columns)
listm = list(predfs.columns)

dtwcalc = []
for m in listm:
    for p  in listp:
        datap = predfs[m]
        #datap = datap/monStock[monStock.columns[p]][0]
        datap = datap.dropna()
        t = plus5list[p]
        #t = t/monStock[monStock.columns[i]][0]
        t = t.dropna()

        dtw_distance, warp_path = fastdtw(datap, t, dist=euclidean)
        dtw = dtw_distance

        dtwcalc.append(dtw)

  # dfstart[p:p+1] = idtwcalc
idtwcalc = np.array(dtwcalc)
idtwcalcres0  = idtwcalc.reshape(len(listm),len(listp))


#exec("dfto"+ str(starti+121) +" = pd.DataFrame(data = idtwcalcres0,index = [monStock.columns[starti:starti+121]], columns = [listm[0:startp]])")
dfpp = pd.DataFrame(data = idtwcalcres0,index = listm, columns = listp)




print('end')

end

In [8]:
dfpp

,3064JP2009-04,3064JP2009-05,3064JP2009-06,3064JP2009-07,3064JP2009-12,3064JP2010-02,3064JP2010-03,3064JP2010-06,3064JP2010-11,3064JP2010-12,...,2379JP2020-05,2379JP2020-06,2379JP2020-09,2379JP2020-12,2379JP2021-01,2379JP2021-06,2379JP2021-07,2379JP2021-09,2379JP2021-10,2379JP2022-05
1491JP2022-06,368.661,333.885,315.358,287.261,310.828,253.570,241.026,173.183,191.798,152.539,...,52287.59,50522.49,46895.87,57577.06,53755.62,74209.49,71864.02,86745.12,89500.95,84987.0
1689JP2022-06,215.773,230.963,270.042,298.139,272.789,320.499,344.374,412.217,390.156,429.293,...,52872.99,51107.89,47481.27,58162.46,54341.02,74794.89,72449.42,87330.52,90086.35,85572.4
1757JP2022-06,527.661,492.885,474.358,446.261,469.828,412.570,400.026,332.183,350.798,311.539,...,52128.59,50363.49,46736.87,57418.06,53596.62,74050.49,71705.02,86586.12,89341.95,84828.0

In [56]:
#dft = pd.concat([dftomade, retrdf], axis=0)
retrdf["grade"]

0      C
1      A
2      A
3      A
4      A
      ..
476    C
477    C
478    A
479    C
480    C
Name: grade, Length: 481, dtype: object

,3064JP2009-04,3064JP2009-05,3064JP2009-06,3064JP2009-07,3064JP2009-12,3064JP2010-02,3064JP2010-03,3064JP2010-06,3064JP2010-11,3064JP2010-12,...,2379JP2020-12,2379JP2021-01,2379JP2021-06,2379JP2021-07,2379JP2021-09,2379JP2021-10,2379JP2022-05,mname,mnum,nxrt
3064JP2009-03,28.314,33.141,76.208,104.305,77.566,123.643,150.540,218.383,189.432,228.055,...,57968.626,51913.430,74601.056,69128.060,83607.280,85956.670,81668.070,NaN,NaN,NaN
3064JP2009-04,0.000,20.903,53.303,81.400,54.601,100.678,127.635,195.478,166.467,205.090,...,57945.721,51890.465,74578.151,69105.095,83584.315,85933.705,81645.105,NaN,NaN,NaN
3064JP2009-05,20.903,0.000,24.683,49.826,21.448,65.357,92.859,160.702,128.487,172.187,...,57910.945,47393.676,74543.375,65946.479,80023.819,85900.802,74194.836,NaN,NaN,NaN
3064JP2009-06,53.303,24.683,0.000,29.169,26.361,37.625,58.149,142.175,120.114,159.251,...,57892.418,54070.978,74524.848,72179.378,87060.478,89816.308,85302.358,NaN,NaN,NaN
3064JP2009-07,81.400,49.826,29.169,0.000,29.204,26.841,25.260,114.078,92.017,131.154,...,57864.321,54042.881,74496.751,72151.281,87032.381,89788.211,85274.261,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2379JP2022-01,476.0,-4.609956
477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2379JP2022-02,477.0,-0.884956
478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2379JP2022-03,478.0,26.785714
479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2379JP2022-04,479.0,-11.619718
480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2379JP2022-05,480.0,-0.265604

In [25]:
retrdf["grade"] = retrdf.index
retrdf

             mname  mnum       nxrt  grade
0    3064JP2009-03     0  -5.419195      0
1    3064JP2009-04     1  12.778831      1
2    3064JP2009-05     2  16.023528      2
3    3064JP2009-06     3  11.108635      3
4    3064JP2009-07     4  30.610710      4
..             ...   ...        ...    ...
476  2379JP2022-01   476  -4.609956    476
477  2379JP2022-02   477  -0.884956    477
478  2379JP2022-03   478  26.785714    478
479  2379JP2022-04   479 -11.619718    479
480  2379JP2022-05   480  -0.265604    480

[481 rows x 4 columns]

In [55]:
retrdf.loc[retrdf.nxrt>5, "grade"] = "A"
retrdf.loc[(retrdf.nxrt<=5)&(retrdf.nxrt>=0), "grade"] = "B"
retrdf.loc[retrdf.nxrt<0, "grade"] = "C"
retrdf

             mname  mnum       nxrt grade
0    3064JP2009-03     0  -5.419195     C
1    3064JP2009-04     1  12.778831     A
2    3064JP2009-05     2  16.023528     A
3    3064JP2009-06     3  11.108635     A
4    3064JP2009-07     4  30.610710     A
..             ...   ...        ...   ...
476  2379JP2022-01   476  -4.609956     C
477  2379JP2022-02   477  -0.884956     C
478  2379JP2022-03   478  26.785714     A
479  2379JP2022-04   479 -11.619718     C
480  2379JP2022-05   480  -0.265604     C

[481 rows x 4 columns]

In [42]:
dftomade

NameError: name 'dftomade' is not defined

In [ ]:
returndf = defmakedf.mdfreturn(codejp, 2009, 3)
mname = []
mnum = []
stmonth = []
nxrt1a = []
nxrt  =  []

# from 0 to 156   #200903-202204
for i in range(1,len(returndf.columns)):
    month = returndf.columns[i-1] + ">" + returndf.columns[i]
    startmonth = returndf.columns[i-1] 
    premonthdays = len(returndf[returndf.columns[i-1]].dropna())-1
    postmonthdays = len(returndf[returndf.columns[i]].dropna())-1
    prelastprice = returndf[returndf.columns[i-1]][premonthdays]
    postlastprice = returndf[returndf.columns[i]][postmonthdays]
    retans = (postlastprice/prelastprice)-1



    mname.append(month)
    mnum.append(i-1)
    stmonth.append(startmonth)
    nxrt.append(retans*100)
print('nxrtend')
returns = pd.DataFrame()
returns["mname"] = stmonth
returns["mnum"] = mnum
returns["nxrt"] = nxrt
returns.tail()

In [ ]:
fiveplus  = returns[returns["nxrt"]>5]

mnames = list(fiveplus["mnum"])
madedf.iloc[:, mnames]
madedf = pd.concat([madedf, madedf2], axis=1)
madedf.head()